.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #c3f1d6;
}
.send_message {
  position: absolute;
  bottom: 0px;
  width: 71vw;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #c3f1d6;
}
.message_section {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  height: 91vh;
  width: 100vw;
  overflow: auto;
  background-color: #c3f1d6;
}
.contact_section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 40%;
  background-color: antiquewhite;
}
.sign {
  width: 5rem;
}
.sent {
  display: flex;
  max-width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #128c7e;
  color: white;
  position: relative;
  align-self: flex-end;
}
.received {
  display: flex;
  color: white;
  max-width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #4a4b4a;
  position: relative;
  margin-left: 5px;
}
.msginp {
  width: 80%;
  margin-left: 10px;
  border-radius: 10px;
  border: 0px;
  background-color: rgb(199, 190, 190);
  padding: 10px;
  height: 40px;
}
.msgsnd {
  border-radius: 100%;
  margin: 0px;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
/* .message {
  display: flex;
  flex-direction: column;
} */
